.contacts {
    background-color: #2F303A;
    &__container {
      display: flex;
      align-items: center;
      flex-direction: column;
     
      @media screen and (min-width: 768px) {
        display: inline-flex;
       padding-left: 60px;
       padding-right: 160px;
      }
      @media screen and (min-width: 1200px) {
        display: inline-flex;
      padding: 0;
      align-items: flex-start;
   
      }
    }
   }

.logo-contacts {
    font-family: "Raleway", sans-serif;
    @include font(26px, 700, 1.19, 0.03em); 
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}
.accent {
    color: var(--brand-color);
   }
.contacts__address {

    @include font(14px, 400, 1.71, 0.03em); 
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    width: 232px;

}
.contacts__container__List {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  padding: 0;
  align-items: flex-start;

  }
}
.contacts__item {
  padding-bottom: 9px;
  &:last-child {
    padding-bottom: 0;
  }

}

.contacts__mail,
.contacts__tel {
  display: flex;
  justify-content: center;
  @include font(14px, 400, 1.71, 0.03em); 
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--brand-color)
    }
   }

