.contacts {
    background-color: #2F303A;
    padding: 60px 0;
    &__container {
      text-align: center;
      @media screen and (min-width: 768px) {
        margin-right: 160px;
      }
      @media screen and (min-width: 1200px) {
        text-align: left;
        margin-right: 0px;
      }
    }
}
.footer__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    }
    flex-wrap: wrap;
    justify-content: center;
  
}
.logo-contacts {
    font-family: "Raleway", sans-serif;
    @include font(26px, 700, 1.19, 0.03em); 
    color: #ffffff;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}
.accent {
    color: var(--brand-color);
   }
.contacts__address {

    @include font(14px, 400, 1.71, 0.03em); 
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    width: 232px;

}
.contacts__container__List {
  @media screen and (min-width: 1200px) {
  padding: 0;
  }
}
.contacts__item {
  margin-bottom: 9px;
  &:last-child {
    padding-bottom: 0;
  }

}

.contacts__mail,
.contacts__tel {
  @include font(14px, 400, 1.71, 0.03em); 
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--brand-color)
    }
   }

