  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  .list {
    list-style: none;
  }
  .container {
    width: 100%;
    padding: 0px 15px 0px 15px;
    margin: 0px auto;
    @media screen and (min-width:480px) {
      width: 450px;
    }
    @media screen and (min-width:768px) {
      width: 738px;
    }
    @media screen and (min-width:1200px) {
      width: 1170px;
    }
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .button {
    cursor: pointer;
  }