@mixin font($fs, $fw, $lh, $ls) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}
 @mixin centeredFlex(){
    display: flex;
    align-items: center;
    justify-content: center;
 }