.hero {
    max-width: 1600px;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/hero-min.jpg'), url('..//images/Bg.png');
    background-size: 1600px 600px;
    background-repeat: no-repeat;
    background-position: center;
  }
.hero-title {
  @include font(26px, 900, 1.36, 0.06em); 
    color: #ffffff;
    margin-bottom: 30px;
  }