.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
  }
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0);
  }
.modal-button-svg {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 9px;
    right: 9px;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
      &:focus,
      &:hover {
    fill: var(--brand-color);
  }
  }
.modal-icon {
   width: 100%;
  }
.modal p {
    font-family: 'Roboto';
    font-style: normal;
    @include font(20px, 700, 1.15, 0.03em); 
    text-align: center;
    padding-bottom: 12px;
  }
.form-field-mod {
    position: relative;
    display: flex;
    flex-direction: column;
  }
.form-label-mod {
    font-family: 'Roboto';
    font-style: normal;
    @include font(12px, 400, 1.16, 0.01em); 
    color: var(--color-text-two);
    padding-top: 10px;
    padding-bottom: 4px;
  }
.form-input-mod {
    height: 40px;
    width: 100%;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus,
      &:hover {
    border-color: var(--brand-color);
    outline: transparent;
  }
  }
  .form-input-mod:focus + svg, 
  .form-input-mod:hover + svg {
    fill: var(--brand-color);
  }
.wrapper {
    position: relative;
  }
.form-modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
textarea {
    resize: none;
    padding: 12px 16px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus,
      &:hover {
    border-color: var(--brand-color);
    outline: transparent;
  }
  }
.form-field-mod textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    @include font(12px, 400, 1.17, 0.01em); 
    color: rgba(117, 117, 117, 0.5);
  }
.form-label-policy {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    @include font(14px, 400, 1.71, 0.03em); 
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
      &::before {
      content: "";
      width: 16px;
      height: 16px;
      border: 2px solid #212121;
      border-radius: 2px;
      margin-right: 8px;
    }
  }

.form-checkbox:checked + label::before {
    border: none;
    background-repeat: no-repeat;
    background-image: url(../images/vector.svg);
    background-position: center;
    background-color: var(--brand-color);
  }
.pact {
    color: var(--brand-color);
    padding-left: 4px;
  }
.modal-button {
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none ;
    width: 200px;
    height: 50px;
    padding: 10px 52px;
    margin-left: 122px;
  }
  