.team__list {
    display: flex;
    margin-right: 30px;
    & .team__itam:last-child {
        margin: 0;
      }
  }

.team__itam {
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
  }
.team__title {
  @include font(36px, 700, 1.17, 0.03em); 
    text-align: center;
    margin-bottom: 50px;
  }
.team__name {
  @include font(16px, 500, 1.18, 0.03em); 
    margin: 30px auto 10px;
    text-align: center;
  }
.team__profession {
  @include font(16px, 400, 1.18, 0.03em); 
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-text-two);
    margin-bottom: 30px;
    text-align: center;
  }
