.work {
    background-color: #FFFFFF;
    &__list {
        display: flex;
      }
      &__title {
        @include font(36px, 700, 1.17, 0.03em); 
        text-align: center;
        margin-bottom: 50px;
      }
      &__thumb {
        position: relative;
      }
      &__text {
        position: absolute;
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        @include font(14px, 700, 1.14, 0.03em); 
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-top: 27px;
        padding-bottom: 27px;
        bottom: 0;
      }
}
.work__list .work__img + .work__img {
    margin-left: 30px;
}

