.work {
    background-color: #FFFFFF;
    &-list {
        display: flex;
      }
      &-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 50px;
      }
      &-thumb {
        position: relative;
      }
      &-text-modal {
        position: absolute;
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-top: 27px;
        padding-bottom: 27px;
        bottom: 0;
      }
}
.work-list .work-img + .work-img {
    margin-left: 30px;
}

